@charset "UTF-8";

.principal{
    float: 0;
    width: 100%;
    height: 50%;
}

/* cards */
*{
    box-sizing: border-box;
}


.anyline{
  text-decoration: none;
}
.anyline:hover{
  background-color: saddlebrown;
  padding: 2px;
}
body {
  font-family: cursive;
    background-color: #eee;
    
}
.imgfondo{
    height: 100%;
    width: 100%;
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
.tabla{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  max-width: 100%;
}
.card{
  margin: 10px;
  padding: 20px;
  width: 30%;
  border-radius: 20px;
  background-image: url(../../../assets/tarjeta.png);
}
.card:hover{
  border: solid gray;
  cursor: pointer;
}
.txtcard{
  word-wrap: break-word;
  font-family: cursive;
  font-weight: bold;
  font-size: 6mm;
}
.txtprice{
  color: darkgreen;
  font-size: 4mm;
}

/* Clear floats after the columns */
.Button{
  font-weight: bold;
  font-size: 4mm;
  padding: 10px;
  border-color: gray;
  color: white;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.MoneyBtn{
  margin-right: 20px;
  background-color: darkgreen; 
}
.CartBtn{
  margin-left: 20px;
    background-color: #333; 
}
.imgbtn{
  margin:5px;
  width: 25px;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .card{
      width: 40%;
    }
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


.bar{
  width:25%;
  display:inline;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.bottom-centered {
  position: absolute;
  bottom: 8px;
  right: 50%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-top {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:hover{
  background-color: #111;
}