@charset "UTF-8";


html{
    height: 100%;
}
.bardown{
  min-width: calc(100% - 80px);
  position: absolute;
  bottom: 0px;
  margin: 30px;
  text-align: center;
}
div{
  color: white;
}
.links{
    
  display: inline-block;
  font-size: 30px;
  text-shadow: 2px  0px 0px black,
               0px  2px 0px black,
              -2px  0px 0px black,
               0px -2px 0px black;
}
.links:nth-child(1){
  position: absolute;
  left: 0px;
}
.links:nth-child(3){
  position: absolute;
  right: 0px;
}
.anyline{
    text-decoration: none;
    color: white;
}

body{
    resize:both;
    overflow:hidden;
    width:100%;
    height:100%;
    background-size:100% 100%;
	background-image: url(../imagenes/index.jpeg);
}

@media screen and (max-width: 600px) {