@charset "UTF-8";
.container {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../imagenes/4.png);
  background-size: cover;
  position: fixed;
  text-align: center;
  color: white;
  text-shadow: 2px  0px 0px black,
               0px  2px 0px black,
              -2px  0px 0px black,
               0px -2px 0px black;
}
.title{
  font-size: 20px;
  position: absolute;
  left: 40px;
}
.tzeltal{
  font-size: 40px;
  margin-top: 20px;
  margin-left: 40%;
}
.letraTzeltal{
  font-family: cursive;
  font-variant-ligatures: normal;
}
.atributos{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 40%;
  font-size: 30px;
}
.leftatr{
  margin-right: 50px;
}
.rightatr{
  margin-left: 50px;
}
.anyline{
  text-decoration: none;
  color: white;
}
.bardown{
  min-width: calc(100% - 80px);
  position: absolute;
  bottom: 0px;
  margin: 30px;
  text-align: center;
}
.links{
  display: inline-block;
  font-size: 30px;
  text-shadow: 2px  0px 0px black,
               0px  2px 0px black,
              -2px  0px 0px black,
               0px -2px 0px black;
}
.links:nth-child(1){
  position: absolute;
  left: 0px;
}
.links:nth-child(3){
  position: absolute;
  right: 0px;
}